.getplace {
    width: 80%;
    /* margin-left: 20%; */
}

.pt-select {
    height: 50px;
}

.pt-select-place {
    width: 100%;
    height: 100%;
}

.place-delete.modal-body {
    text-align: center;
}